@model FireExtinguisherListingViewModel

@{
    ViewData["Title"] = " All FireExtinguishers";
}

<h2>@ViewData["Title"]</h2>


<div class="row">
    @foreach (var fireExtinguisher in Model.FireExtinguishers)
            {
        <div class="col-md-2">
            <a asp-action="Details" asp-route-id="@fireExtinguisher.Id" asp-route-title="@fireExtinguisher.Type">@fireExtinguisher.Type</a>
            <br />
            <label asp-for="@fireExtinguisher.Price">Exclusive Price: @fireExtinguisher.Price</label>
            <span asp-validation-for="@fireExtinguisher.Price" class="text-danger">$</span>
            <img src="@fireExtinguisher.ImageUrl" width="200" height="160" />
        </div>
    }

</div>


@if (Model.TotalFireExtinguishers > Model.FireExtinguishers.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.PreviousPage"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.NextPage"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}

